.venv
commands.txt
0-demo/demo/__pycache__
0-demo/myapp/migrations/__pycache__
0-demo/myapp/__pycache__
1-crm-auth/crm/__pycache__
1-crm-auth/website/__pycache__
1-crm-auth/website/migrations/__pycache__
2-crm-crud/crm/__pycache__
2-crm-crud/website/__pycache__
2-crm-crud/website/migrations/__pycache__
