{% extends "base.html" %}
{% block title %} About Page {% endblock %}
{% block content %}
<h1>👋 About Us</h1>
<p>At Demo App, we are dedicated to providing you with innovative solutions that cater to your needs. Whether you're looking for inspiration, information, or just a place to explore, we have something for everyone.</p>

<h2>Our Mission</h2>
Our mission is to give a demo of MVC architecture. We aim to explain how your website addresses the needs of your audience. Join us on this journey of exploration, discovery, and innovation.

</h2>Explore Our Features<h2>
<h3>1. Discover</h3>
<p>Uncover a world of possibilities with our Demo App. From key benefits or functionalities to another feature description, we have it all. </p>

<h3>2. Learn</h3>
<p>Stay informed and enhance your knowledge with our insightful articles, tutorials, and resources. Demo App offers a variety of content to educate, inspire, and entertain] you.</p>

<h3>3. Connect</h3>
<p>Connect with like-minded individuals and build a community around your interests. Demo App allows you to describe how users can interact and engage with each other.</p>
{% endblock %}