{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% block content %}
<h1>💻 Explore Demo App</h1>
<br>
<h2>Discover a World of Features</h2>
<h3>1. Smart Recommendations</h3>
<p> our intelligent system tailor content recommendations just for you. Discover new and exciting topics aligned with your interests.</p>

<h3>2. Interactive Learning Modules</h3>
<p>Immerse yourself in interactive learning experiences. Our learning modules offer hands-on activities, quizzes, and challenges to enhance your skills.</p>

<h3>3. Community Collaboration</h3>
<p>Connect with a vibrant community of enthusiasts. Collaborate on projects, share insights, and make lasting connections with like-minded individuals.</p>

<h3>4. Personalized Dashboards</h3>
<p>Create a personalized dashboard that suits your preferences. Customize the layout, choose your favorite themes, and access everything you need in one place.</p>

<h3>5. Real-time Updates</h3>
<p>Stay in the loop with real-time updates. Receive instant notifications about new content, discussions, and achievements within the community.</p>

<h3>6. Exclusive Events and Webinars</h3>
<p>Participate in exclusive events and webinars hosted by industry experts. Gain valuable insights, ask questions, and network with professionals from around the globe.</p>

<h2>Why Choose Demo App? </h2>
<ul>
    <li>Innovation: Embrace the latest features and technologies designed to enhance your online experience.</li>
    <li>Community Engagement: Connect with a diverse and supportive community passionate about shared interests.</li>
    <li>Continuous Improvement: We are committed to evolving and adding new features based on user feedback.</li>
</ul>
<p>Ready to experience the future of Demo App? Sign Up now and unlock a world of possibilities!</p>
{% endblock %}